/* https://piccalil.li/blog/a-modern-css-reset */
/* General css */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
/* 
--- 01 TYPOGRAPHY SYSTEM
font-size-scale-px: 0.694 / 0.833 / 1 / 1.2 / 1.44 / 1.728 /  2.074 / 2.488 / 2.986 / 3.583 / 4.3 / 5.16 /  6.192 /  7.43 / 
8.916

- Font weights
light :400
default: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.7
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: 
- Tints:


- Shades: 



- Accents:
- Greys


--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
- Spacing system (px)
font-size-scale-px: 0.694 / 0.833 / 1 / 1.2 / 1.44 / 1.728 /  2.074 / 2.488 / 2.986 / 3.583 / 4.3 / 5.16 /  6.192 /  7.43 / 
8.916

*/
:root {
  --clr-primary: #ea3882;
  --clr-primary-1-lighter: #ee609b;
  --clr-primary-2-lighter: #f288b4;
  --clr-primary-3-lighter: #fdebf3;
  --clr-secondary: #00072d;
  --clr-background: #fcf5df;
  --clr-dark: #00072d;
  --clr-dark-1-lighter: #1a2042;
  --clr-dark-2-lighter: #333957;
  --clr-white: #ffffff;
  --clr-gray: #2e2e2e;
  --clr-gray-1-lighter: #6d6d6d;
  --clr-gray-2-lighter: #979797;
  --mainTransition: all 0.3s ease-in-out;
  --spacing-xxl: 7.2rem;
  --spacing-xl: 6.4rem;
  --spacing-l: 3.2rem;
  --spacing-ml: 2.4rem;
  --spacing-m: 1.2rem;
  --spacing-s: 0.8rem;
  --curr-screen-width: 100vw;
  --container-screen-ratio: calc(100vw * 0.1);
  --header-letter-spacing: -1.1px;
  --text-letter-spacing: 0.75px;
  --fs-xxl: 4.3rem;
  --fs-xl: 3.283rem;
  --fs-l: 2.887rem;
  --fs-ml: 2.566rem;
  --fs-m: 2.027rem;
  --fs-s: 1.728rem;
  --fs-xs: 1.44rem;
  --fs-xxs: 1.2rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-primary);
  text-transform: uppercase;
  line-height: 1.1;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
html,
body {
  max-height: 100%;
  overflow-x: hidden;
}
/* Set core body defaults */
body {
  color: var(--clr-gray);
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-align: center;
  text-rendering: optimizeSpeed;
  font-size: var(--fs-s);
  background-color: var(--clr-background);
  line-height: 1.7;
  letter-spacing: 0.75px;
  font-weight: 500;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
ul {
  list-style: none;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end of General Reset */
/* utility classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  row-gap: var(--spacing-l);
}
.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}
.grid--1-cols {
  grid-template-columns: 1fr;
}
.grid-center {
  justify-items: center;
}
.container {
  max-width: calc(var(--curr-screen-width) - var(--container-screen-ratio));
  margin: 0 auto;
}
.main-container {
  z-index: 2;
}
.section {
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-xxl);
  margin: 0 auto;
  transition: all 0.4s ease-out;
  z-index: 3;
  background-color: var(--clr-background);
}
/* end of utility classes */

/* js classes */
.lazy-img {
  border-radius: 50%;
  background-image: url(/img/flavors/blurred-img.jpg);
  background-position: center;
  background-size: cover;
}
.lazy-img img {
  width: 64px;
  height: 64px;
  z-index: 2;
}
.section--hidden {
  opacity: 0;
  translate: 0 30%;
}
/* end of js classes */
/* header */
.header {
  padding: 0;
  background-color: transparent;
  justify-content: space-between;
  text-align: left;
  inset: 0%;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  position: absolute;
  height: 9.6rem;
  margin-top: 0.4rem;
  z-index: 3;
}
.header button {
  background-color: transparent;
  border: none;
}
.logo img {
  width: 64px;
  height: 64px;
}
/* main-nav */
.main-nav {
  display: none;
}
.main-nav-list {
  gap: var(--spacing-ml);
}
.main-nav-link:link,
.main-nav-link:visited {
  font-size: var(--fs-s);
  color: var(--clr-white);
  transition: all 0.2s ease-in;
}
.main-nav-link:hover {
  color: var(--clr-primary);
}
.nav-contacts:visited,
.nav-contacts:link {
  padding: 0.6rem 1.2rem;

  background-color: var(--clr-primary);
  border-radius: 10rem;
}
.nav-contacts:hover {
  background-color: var(--clr-primary-2-lighter);
}
/* end of main-nav */
/* mobile-nav*/

.mobile-nav-list {
  position: absolute;
  width: 100vw;
  top: 0%;
  right: 0%;
}
.mobile-nav-list-active {
  position: fixed;
}
.mobile-nav-list ul {
  z-index: -1;
  height: 100vh;
  padding-right: 4.8rem;
  gap: 3.2rem;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.mobile-nav-link:link,
.mobile-nav-link:visited {
  font-size: calc(var(--fs-ml) - 0.35rem);
  color: var(--clr-gray);
}
.mobile-nav-list-last-child:link,
.mobile-nav-list-last-child:visited {
  color: white;
  padding: 0.6rem 1.2rem;
  background-color: var(--clr-primary);
  border-radius: 10rem;
}
.btn-close-mobile-nav {
  width: 45px;
  height: 45px;
  margin: 1.2rem;
  position: absolute;
  top: 1.5%;
  right: 15%;
}
.nav-open {
  translate: calc(-65vw);
}
/* end of btn-mobile-nav*/

/* hamgurger button from  https://www.youtube.com/watch?v=dIyVTjJAkLw  */
.menu-btn {
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  scale: 0.75;
  z-index: 4;
}

.menu-btn__burger {
  width: 4.2rem;
  height: 0.5rem;
  background: var(--clr-white);
  border-radius: 5px;

  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 4.2rem;
  height: 0.5rem;
  background: var(--clr-white);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  display: none;
  /* transform: translateX(-50px);
  background: transparent;
  box-shadow: none; */
}
.menu-btn.open .menu-btn__burger::before {
  display: none;
  /* transform: rotate(45deg) translate(35px, -35px); */
}
.menu-btn.open .menu-btn__burger::after {
  display: none;
  /* transform: rotate(-45deg) translate(35px, 35px); */
}
/* end of humberger button */
/* end of mobile-nav */
/* end of header  */
/* hero */
.header {
}
.heading-primary {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: var(--fs-xl);
  line-height: 1.25;
  letter-spacing: var(--header-letter-spacing);
  margin-bottom: var(--spacing-ml);
}
.section-hero {
  z-index: 2;
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 8%,
      rgba(0, 0, 0, 0.2) 65%
    ),
    url(./img/background-img.jpg) center/cover no-repeat fixed;
  background-position: 80% center;
  text-align: center;
  min-height: 100vh;
}
.hero-text-box {
  margin: 0 auto;
}
.pink-word {
  color: var(--clr-primary);
}
/* .section-hero > * {
  position: absolute;
} */
.hero-img {
  height: 100%;
}

.btn:link,
.btn:visited {
  color: var(--clr-dark);

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  /* background-color: var(--clr-primary-3-lighter); */
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  display: inline-block;
  padding: 0.6rem 1.2rem;
  border-radius: 10rem;
}
.btn:link:hover,
.btn:visited:hover,
.btn:active {
  background-color: var(--clr-primary-1-lighter);
}
/* --- 01 TYPOGRAPHY SYSTEM
font-size-scale-px: 0.694 / 0.833 / 1 / 1.2 / 1.44 / 1.728 /  2.074 / 2.488 / 2.986 / 3.583 / 4.3 / 5.16 /  6.192 /  7.43 / 
8.916 */

/* end of hero */
/* about us */

.heading-secondary {
  font-size: var(--fs-l);
  margin-bottom: var(--spacing-l);
  letter-spacing: var(--header-letter-spacing);
}
.section-about {
}

.about-text {
}
.about-img {
  border-radius: 0.8rem;
  margin: 0 auto;
}
/* end of about us  */
/* features section */
.section-features {
  padding: var(--spacing-l) 0;
  background-image: linear-gradient(
    109.6deg,
    rgba(245, 239, 249, 1) 30.1%,
    rgba(207, 211, 236, 1) 100.2%
  );
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(239, 246, 249, 1) 0%,
    rgba(206, 239, 253, 1) 90%
  );
}

.feature {
  grid-template-columns: 1fr;
  gap: var(--spacing-m);
}
.feature-img img {
  width: 6.4rem;
  height: 6.4rem;
}
.feature-heading {
  text-transform: capitalize;
  font-size: var(--fs-s);
  color: var(--clr-dark-1-lighter);
  letter-spacing: -0.1rem;
}

/* end of features section */
/*  flavors section */
.section-flavors {
  row-gap: var(--spacing-m);
}

.flavors-heading {
  letter-spacing: -1.2px;
  font-size: var(--fs-ml);
  margin-bottom: var(--spacing-l);
}

.flavors-icon {
  margin-bottom: var(--spacing-m);
}

.flavors-icon img {
  border: 0.4rem solid var(--clr-primary);
  border-radius: 10rem;
  width: 8rem;
  height: 8rem;
}

.flavor-img {
  max-width: 30rem;
  height: 30rem;
  margin: var(--spacing-ml) auto;
}
.flavor-img img {
  height: 100%;
  border-radius: 50%;
}
.flavor-heading {
  color: var(--clr-dark);
  font-size: var(--fs-m);
  text-transform: uppercase;
  margin-bottom: var(--spacing-s);
}
.flavor-content {
  gap: var(--spacing-s);
}
.flavor-text-box {
  font-size: calc(var(--fs-s) - 0.2rem);
  color: var(--clr-dark-1-lighter);
  width: 75%;
  margin: 0 auto;
}
/* map section */
.section-map {
  gap: var(--spacing-m);
}
.map-box {
  min-width: 100%;
}
.map-container {
  width: 95%;
}
.map-box img {
  width: 100%;
  min-height: 100%;
  border-radius: 5%;
}
.locations {
  width: 90%;
  margin: auto auto;
}
.location {
  justify-self: center;
  margin: 0 auto var(--spacing-m) auto;
  padding: var(--spacing-ml) 0 var(--spacing-m) 0;
  border-radius: 5%;
  font-size: var(--fs-xs);
  row-gap: var(--spacing-s);
  background-color: var(--clr-white);
}
.location-header {
  color: var(--clr-dark);
  line-height: 1.1;
  margin-bottom: 0.8rem;
  font-weight: 700;
}
.location-text {
  color: var(--clr-gray-2-lighter);
}
.location span {
  gap: var(--spacing-s);
}
.location-type {
  font-weight: 500;
  justify-content: center;
  gap: 0.4rem;
}
.location span:last-of-type {
  font-weight: 600;
}
.location-status-open {
  color: #2b9720;
}
.location-status-closed {
  color: #a72608;
}

.location-icon svg {
  width: 24px;
  height: 24px;
}
/* end of map section */

/* end of flavors section */
/* footer */
#contacts {
  margin-bottom: 0;
}
.footer-section {
  gap: var(--spacing-ml);
  flex-direction: column;
  font-size: 1.44rem;
}
.socials {
  width: 100%;
  gap: var(--spacing-m);
}
.socials-icon {
  width: 2.8rem;
  height: 2.8rem;
}
.footer {
  background-color: var(--clr-primary-3-lighter);
  padding-bottom: 0;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: var(--clr-primary-2-lighter);
}
.footer-links {
  gap: var(--spacing-m);
}
.address {
  flex-direction: column;
  align-self: start;
  row-gap: var(--spacing-s);
  font-size: var(--fs-xs);
}
.address p {
  font-size: calc(var(--fs-xs));
  color: var(--clr-gray-1-lighter);
}
.address-heading {
  font-size: calc(var(--fs-xs) + 0.2rem);
  margin-bottom: var(--spacing-m);
}

.credits:link,
.credits:visited {
  color: var(--clr-dark-1-lighter);
}
.copy-right {
  font-size: var(--fs-xxs);
  margin-bottom: var(--spacing-m);
}
.copy-right {
  color: var(--clr-gray-2-lighter);
}
/* end of footer  */
/* media queries */
@media screen and (max-width: 18.75em) {
  .mobile-nav-list ul {
    font-size: var(--fs-xs);
    padding-right: 2.4rem;
  }
}
@media screen and (min-width: 28.125em) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-width: 43.75em) {
  .heading-primary {
    font-size: var(--fs-xxl);
  }
  .flavor-img {
    max-width: 33rem;
    height: 33rem;
  }
}
@media screen and (min-width: 50em) {
  .location {
    font-size: var(--fs-xxs);
  }
  .flavors {
    grid-template-columns: 1fr 1fr;
  }
  .flavor-content {
    row-gap: var(--spacing-m);
    margin: 0 auto;
  }
  .flavor-img {
    max-width: 25rem;
    height: 25rem;
  }
}
@media screen and (min-width: 56.25em) {
  :root {
    --container-screen-ratio: calc(100vw * 0.15);
  }
  .html {
    font-size: 5%;
  }
  .section-about div {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-ml);
    line-height: 1.5;
  }
  .hero-text-box {
    margin-left: var(--spacing-l);
  }
  .heading-secondary {
    margin-bottom: var(--spacing-xl);
  }

  .btn-mobile-nav {
    display: none;
  }
  .mobile-nav-list {
    display: none;
  }
  .features-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .map-container {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .map-box {
    order: 2;
  }
  .main-nav {
    display: block;
  }
  .section-hero {
    background-position: center 40%;
    justify-content: flex-start;
  }

  .footer-section {
    row-gap: var(--spacing-l);
    grid-template-columns: 1fr 1fr;
  }
  .address {
    gap: var(--spacing-m);
  }
  .copy-right,
  .socials {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 87.5em) {
  .location {
    font-size: var(--fs-s);
    row-gap: var(--spacing-m);
  }
}
@media screen and (min-width: 75.5em) {
  .container {
    max-width: 120rem;
  }
}

/* end of media queries */
